<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Back Button -->
      <ion-back-button defaultHref="/home" color="danger">Back</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">help-us</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Minimal Explanation Section -->
  <section class="intro-section">
    <h1 class="section-title">Visual Aids</h1>
    <p class="intro-text">
      Explore essential emergency response categories. Tap on a card to learn more.
    </p>
  </section>


  <div class="parent-container">
    <!-- Card 1 -->
    <ion-card class="card" (click)="openResModal()">
      <div class="image-container">
        <img src="assets/images/VisualAids/vid1.png" alt="Respiratory Emergency" class="card-image">
      </div>
      <div class="card-title">Respiratory Emergency</div>
    </ion-card>

    <!-- Card 2 -->
    <ion-card class="card" (click)="openTraumModal()">
      <div class="image-container">
        <img src="assets/images/VisualAids/vid2.png" alt="Traumatic Injuries" class="card-image">
      </div>
      <div class="card-title">Traumatic Injuries</div>
    </ion-card>

    <!-- Card 3 -->
    <ion-card class="card" (click)="openEnvModal()">
      <div class="image-container">
        <img src="assets/images/VisualAids/vid3.png" alt="Environmental and Physical Emergencies" class="card-image">
      </div>
      <div class="card-title">Environmental and Physical Emergencies</div>
    </ion-card>

    <!-- Card 4 -->
    <ion-card class="card" (click)="openAllModal()">
      <div class="image-container">
        <img src="assets/images/VisualAids/vid4.png" alt="Allergic Reactions and Insect Bites" class="card-image">
      </div>
      <div class="card-title">Allergic Reactions and Insect Bites</div>
    </ion-card>

    <!-- Card 5 -->
    <ion-card class="card" (click)="openCardModal()">
      <div class="image-container">
        <img src="assets/images/VisualAids/vid5.png" alt="Cardiac and Neurological" class="card-image">
      </div>
      <div class="card-title">Cardiac and Neurological</div>
    </ion-card>

    <!-- Card 6 -->
    <ion-card class="card" (click)="openOtherModal()">
      <div class="image-container">
        <img src="assets/images/VisualAids/vid6.png" alt="Other General Emergencies" class="card-image">
      </div>
      <div class="card-title">Other General Emergencies</div>
    </ion-card>
  </div>


  <ion-modal [isOpen]="isResModalOpen" (didDismiss)="closeResModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title></ion-title>
          <ion-buttons slot="start">
            <ion-button (click)="closeResModal()" style=" --color: #dc1212;">
              Close
            </ion-button>

          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <!-- Modal Header Section -->
        <!-- Modal Header Section -->
        <section class="modal-header">
          <h2>Learn Emergency Responses</h2>
          <p>
            Gain crucial knowledge and watch videos that demonstrate effective methods for dealing with respiratory
            emergencies.
          </p>
        </section>


        <!-- Cards Section -->
        <section class="modal-cards">
          <!-- Choking Video -->
          <ion-card class="sliding-card">
            <ion-card-header>
              <ion-card-title>Choking (Adult)</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Video on how to deal with choking emergencies for adults.
              <div class="video-container">
                <iframe width="100%" height="200" src="https://www.youtube.com/embed/MkTZlRyXQiY" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
                </iframe>
              </div>
            </ion-card-content>
          </ion-card>


          <ion-card class="sliding-card">
            <ion-card-header>
              <ion-card-title>Choking (Babies)</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Video on how to deal with choking emergencies for babies.
              <div class="video-container">
                <iframe width="100%" height="200" src="https://www.youtube.com/embed/4j329wUsl3s" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
                  ></iframe>
              </div>
            </ion-card-content>
          </ion-card>

          <!-- Mild Asthma Attack Video -->
          <ion-card class="sliding-card">
            <ion-card-header>
              <ion-card-title>Mild Asthma Attack</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Video on managing mild asthma attacks.
              <div class="video-container">
                <iframe width="100%" height="200" src="https://www.youtube.com/embed/hdVKpUR513M" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
                </iframe>
              </div>
            </ion-card-content>
          </ion-card>

          <ion-card class="sliding-card">
            <ion-card-header>
              <ion-card-title>Hyperventilation</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Video on managing Hyperventilation.
              <div class="video-container">
                <iframe width="100%" height="200" src="https://www.youtube.com/embed/rXlttZOEpLo" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
                </iframe>
              </div>
            </ion-card-content>
          </ion-card>
        </section>

      </ion-content>
    </ng-template>
  </ion-modal>


  <ion-modal [isOpen]="isTraumModalOpen" (didDismiss)="closeTraumModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title></ion-title>
          <ion-buttons slot="start">
            <ion-button (click)="closeTraumModal()" style=" --color: #dc1212;">
              Close
            </ion-button>

          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <!-- Modal Header Section -->
        <!-- Modal Header Section -->
        <section class="modal-header">
          <h2>Learn Emergency Responses</h2>
          <p>
            Gain crucial knowledge and watch videos that demonstrate effective methods for dealing with Traumatic
            Injuries
          </p>
        </section>


        <!-- Cards Section -->
        <section class="modal-cards">
          <!-- Choking Video -->
          <ion-card class="sliding-card">
            <ion-card-header>
              <ion-card-title>Minor Bleeding or Cuts</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Video on how to deal with minor bleeding or cuts.
              <div class="video-container">
                <iframe width="100%" height="200" src="https://www.youtube.com/embed/9XpJZv_YsGM" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
                </iframe>
              </div>
            </ion-card-content>
          </ion-card>


          <ion-card class="sliding-card">
            <ion-card-header>
              <ion-card-title>Sprain and Minor Fractures</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Video on how to deal with sprains and minor fractures.
              <div class="video-container">
                <iframe width="100%" height="200" src="https://www.youtube.com/embed/2v8vlXgGXwE" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
                  ></iframe>
              </div>
            </ion-card-content>
          </ion-card>

          <!-- Mild Asthma Attack Video -->
          <ion-card class="sliding-card">
            <ion-card-header>
              <ion-card-title>Mild Burns</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Video on managing mild burns.
              <div class="video-container">
                <iframe width="100%" height="200" src="https://www.youtube.com/embed/sauqm3mvJ40" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
                </iframe>
              </div>
            </ion-card-content>
          </ion-card>

          <ion-card class="sliding-card">
            <ion-card-header>
              <ion-card-title>Bruises</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Video on managing bruises.
              <div class="video-container">
                <iframe width="100%" height="200" src="https://www.youtube.com/embed/DkOmr3BEkvE" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
                </iframe>
              </div>
            </ion-card-content>
          </ion-card>
        </section>

      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isEnvModalOpen" (didDismiss)="closeEnvModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title></ion-title>
          <ion-buttons slot="start">
            <ion-button (click)="closeEnvModal()" style=" --color: #dc1212;">
              Close
            </ion-button>

          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <!-- Modal Header Section -->
        <!-- Modal Header Section -->
        <section class="modal-header">
          <h2>Learn Emergency Responses</h2>
          <p>
            Gain crucial knowledge and watch videos that demonstrate effective methods for dealing with Environmenatal
            and Physical Emergencies.
          </p>
        </section>


        <!-- Cards Section -->
        <section class="modal-cards">
          <!-- Choking Video -->
          <ion-card class="sliding-card">
            <ion-card-header>
              <ion-card-title>Heat Exhaustion</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Video on how to deal with Heat Exhaustion.
              <div class="video-container">
                <iframe width="100%" height="200" src="https://www.youtube.com/embed/R6VdoV8dZRc" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
                </iframe>
              </div>
            </ion-card-content>
          </ion-card>


          <ion-card class="sliding-card">
            <ion-card-header>
              <ion-card-title>Mild Hypotermia</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Video on how to deal with Mild Hypotermia.
              <div class="video-container">
                <iframe width="100%" height="200" src="https://www.youtube.com/embed/Sf85qfJUNfc" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
                  ></iframe>
              </div>
            </ion-card-content>
          </ion-card>

          <!-- Mild Asthma Attack Video -->
          <ion-card class="sliding-card">
            <ion-card-header>
              <ion-card-title>Dehydration</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Video on managing mild asthma attacks.
              <div class="video-container">
                <iframe width="100%" height="200" src="https://www.youtube.com/embed/DXo5hmiFQmQ" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
                </iframe>
              </div>
            </ion-card-content>
          </ion-card>
        </section>

      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isAllModalOpen" (didDismiss)="closeAllModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title></ion-title>
          <ion-buttons slot="start">
            <ion-button (click)="closeAllModal()" style=" --color: #dc1212;">
              Close
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <!-- Modal Header Section -->
        <!-- Modal Header Section -->
        <section class="modal-header">
          <h2>Learn Emergency Responses</h2>
          <p>
            Gain crucial knowledge and watch videos that demonstrate effective methods for dealing with Allergic
            Reaction and Insect Bites.
          </p>
        </section>


        <!-- Cards Section -->
        <section class="modal-cards">
          <!-- Choking Video -->
          <ion-card class="sliding-card">
            <ion-card-header>
              <ion-card-title> Snake Bites</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Video on how to deal with Snake Bites .
              <div class="video-container">
                <iframe width="100%" height="200" src="https://www.youtube.com/embed/lLkw4BXa7pQ" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
                </iframe>
              </div>
            </ion-card-content>
          </ion-card>


          <ion-card class="sliding-card">
            <ion-card-header>
              <ion-card-title>Allergic Reaction</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Video on how to deal with Allergic Reaction.
              <div class="video-container">
                <iframe width="100%" height="200" src="https://www.youtube.com/embed/yqaLKuhMCPw" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
                  ></iframe>
              </div>
            </ion-card-content>
          </ion-card>

          <!-- Mild Asthma Attack Video -->
          <ion-card class="sliding-card">
            <ion-card-header>
              <ion-card-title>Insect Stings</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Video on managing Insect Stings.
              <div class="video-container">
                <iframe width="100%" height="200" src="https://www.youtube.com/embed/hdVKpUR513M" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
                </iframe>
              </div>
            </ion-card-content>
          </ion-card>
        </section>

      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isCardModalOpen" (didDismiss)="closeCardModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title></ion-title>
          <ion-buttons slot="start">
            <ion-button (click)="closeCardModal()" style=" --color: #dc1212;">
              Close
            </ion-button>

          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <!-- Modal Header Section -->
        <!-- Modal Header Section -->
        <section class="modal-header">
          <h2>Learn Emergency Responses</h2>
          <p>
            Gain crucial knowledge and watch videos that demonstrate effective methods for dealing with cardiac and
            neurological emergency.
          </p>
        </section>


        <!-- Cards Section -->
        <section class="modal-cards">
          <!-- Choking Video -->
          <ion-card class="sliding-card">
            <ion-card-header>
              <ion-card-title>Fainting</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Video on how to deal with Fainting.
              <div class="video-container">
                <iframe width="100%" height="200" src="https://www.youtube.com/embed/ddHKwkMwNyI" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
                </iframe>
              </div>
            </ion-card-content>
          </ion-card>


          <ion-card class="sliding-card">
            <ion-card-header>
              <ion-card-title>CPR</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Video on how to do CPR.
              <div class="video-container">
                <iframe width="100%" height="200" src="https://www.youtube.com/embed/ozzZVQQTvo4" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
                  ></iframe>
              </div>
            </ion-card-content>
          </ion-card>
        </section>

      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isOtherModalOpen" (didDismiss)="closeOtherModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title></ion-title>
          <ion-buttons slot="start">
            <ion-button (click)="closeOtherModal()" style=" --color: #dc1212;">
              Close
            </ion-button>

          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <!-- Modal Header Section -->
        <!-- Modal Header Section -->
        <section class="modal-header">
          <h2>Learn Emergency Responses</h2>
          <p>
            Gain crucial knowledge and watch videos that demonstrate effective methods for dealing with other
            emergencies.
          </p>
        </section>


        <!-- Cards Section -->
        <section class="modal-cards">
          <!-- Choking Video -->
          <ion-card class="sliding-card">
            <ion-card-header>
              <ion-card-title>Nosebleeds</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Video on how to deal with Nosebleeds.
              <div class="video-container">
                <iframe width="100%" height="200" src="https://www.youtube.com/embed/V34aB5uheBg" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
                </iframe>
              </div>
            </ion-card-content>
          </ion-card>



          <!-- Mild Asthma Attack Video -->
          <ion-card class="sliding-card">
            <ion-card-header>
              <ion-card-title>Small Foreign Object</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Video on safely removing small foreign objects
              <div class="video-container">
                <iframe width="100%" height="200" src="https://www.youtube.com/embed/AP4_rmZ6tOo" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
                </iframe>
              </div>
            </ion-card-content>
          </ion-card>

          <ion-card class="sliding-card">
            <ion-card-header>
              <ion-card-title>Hyperventilation</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Video on managing Hyperventilation.
              <div class="video-container">
                <iframe width="100%" height="200" src="https://www.youtube.com/embed/PHaeTd4N9fM" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
                </iframe>
              </div>
            </ion-card-content>
          </ion-card>
        </section>

      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>