.custom-tab-bar {
    --ion-tab-bar-background: #ffffff !important; /* Grey background */
    --ion-tab-button-color: #b03c3c;   /* Text and icon color */
    --ion-tab-button-active-color: #dc1212 !important; /* Slightly lighter color for the active tab */
  }
  