<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="danger">
        Close
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- HEADER SECTION -->
  <div class="header-section"></div>
  <!-- CONTENT SECTION -->

  <div class="bestpractices-section">
    <div class="bestpractice-title">
      <h4>We Suggest</h4>
    </div>
    <div class="bestpractice-cards">
      <ion-card class="card">
        <ion-card-content>
          <img
            src="../../assets/images/best-practices/BEST-PRACTICE/1.png"
            alt="washhand"
          />
          <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header" color="danger">
                <ion-label>Wash hands before eating</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                Prevent the spread of germs and reduce the risk of foodborne
                illnesses by washing your hands thoroughly.
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-card-content>
      </ion-card>
      <ion-card class="card">
        <ion-card-content>
          <img
            src="../../assets/images/best-practices/BEST-PRACTICE/2.png"
            alt="washhand"
          />
          <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header" color="danger">
                <ion-label>Drink enough water</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                Staying hydrated is crucial for maintaining body functions,
                improving digestion, and boosting energy levels.
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-card-content>
      </ion-card>
      <ion-card class="card">
        <ion-card-content>
          <img
            src="../../assets/images/best-practices/BEST-PRACTICE/3.png"
            alt="washhand"
          />
          <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header" color="danger">
                <ion-label>Eat a balanced diet</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                Incorporate a variety of fruits, vegetables, whole grains, and
                lean proteins to ensure you get the necessary nutrients.
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-card-content>
      </ion-card>
      <ion-card class="card">
        <ion-card-content>
          <img
            src="../../assets/images/best-practices/BEST-PRACTICE/4.png"
            alt="washhand"
          />
          <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header" color="danger">
                <ion-label>Exercise regularly</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                Aim for at least 30 minutes of moderate physical activity most
                days of the week to improve cardiovascular health and maintain a
                healthy weight.
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-card-content>
      </ion-card>
      <ion-card class="card">
        <ion-card-content>
          <img
            src="../../assets/images/best-practices/BEST-PRACTICE/5.png"
            alt="washhand"
          />
          <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header" color="danger">
                <ion-label>Get enough sleep</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                Aim for 7-9 hours of sleep per night to help your body recover,
                improve mood, and support mental clarity.
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
