<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="danger">
        Close
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Best Practices</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- HEADER SECTION -->

  <section class="intro-section">
    <h1 class="section-title">Best Practices</h1>
    <p class="intro-text">
      Essential first aid tips and guidelines designed to ensure safety to handle emergencies effectively.
    </p>
  </section>

  <div class="bestpractices-section">
    <div class="bestpractice-cards">
      <ion-card class="card">
        <ion-card-content>
          <img src="../../assets/images/best-practices/BEST-PRACTICE/6.png" alt="washhand" />
          <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header">
                <ion-label>Wash Hands Before Providing First Aid</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content" style="font-size: 0.8rem; padding: 5px; line-height: 1.2;">
                Before assisting an injured person, always wash your hands with soap and water or use an
                alcohol-based hand sanitizer. This minimizes the risk of spreading germs, bacteria, and infections.
                <ul>
                  <li style="font-size: 0.75rem; padding: 2px 0;"><b>Why It’s Important:</b> Prevents the transmission of diseases and ensures the safety of both the
                    rescuer and
                    the injured individual.</li>
                  <li style="font-size: 0.75rem; padding: 2px 0;">Use gloves if available to provide an extra layer of protection.</li>
                </ul>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-card-content>
      </ion-card>
      <ion-card class="card">
        <ion-card-content>
          <img src="../../assets/images/best-practices/BEST-PRACTICE/7.png" alt="washhand" />
          <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header">
                <ion-label>Call for Emergency Help Immediately</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content" style="font-size: 0.8rem; padding: 5px; line-height: 1.2;">
                In any serious or life-threatening situation, always call your local emergency hotline or contact nearby
                responders as soon as possible.
                <ul>
                  <li style="font-size: 0.75rem; padding: 2px 0;"><b>Why It’s Important:</b> Quick communication with emergency personnel ensures that professional medical
                    help is on its way.</li>
                  <li style="font-size: 0.75rem; padding: 2px 0;">Provide accurate information about the location and the nature of the injury to responders.</li>
                </ul>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-card-content>
      </ion-card>
      <ion-card class="card">
        <ion-card-content>
          <img src="../../assets/images/best-practices/BEST-PRACTICE/8.png" alt="washhand" />
          <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header">
                <ion-label>Use Personal Protective Equipment (PPE)</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content" style="font-size: 0.8rem; padding: 5px; line-height: 1.2;">
                Wear gloves, masks, or any protective gear before coming in contact with an injured person. Even items
                like plastic bags can serve as improvised protection.
                <ul>
                  <li style="font-size: 0.75rem; padding: 2px 0;"><b>Why It’s Important:</b> PPE helps reduce the risk of infection transmission and contamination,
                    ensuring safety for both the rescuer and the injured individual.</li>
                </ul>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-card-content>
      </ion-card>
      <ion-card class="card">
        <ion-card-content>
          <img src="../../assets/images/best-practices/BEST-PRACTICE/9.png" alt="washhand" />
          <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header">
                <ion-label>Control Bleeding Effectively</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content" style="font-size: 0.8rem; padding: 5px; line-height: 1.2;">
                If someone is bleeding, apply firm, direct pressure to the wound with a clean cloth, towel, or bandage.
                Elevating the injured limb above heart level can also help reduce blood flow.
                <ul>
                  <li style="font-size: 0.75rem; padding: 2px 0;"><b>Why It’s Important:</b> Proper bleeding control is crucial to prevent excessive blood loss and
                    potential life-threatening situations.</li>
                </ul>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-card-content>
      </ion-card>
      <ion-card class="card">
        <ion-card-content>
          <img src="../../assets/images/best-practices/BEST-PRACTICE/10.png" alt="washhand" />
          <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header">
                <ion-label>Perform CPR (Cardiopulmonary Resuscitation) Correctly</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content" style="font-size: 0.8rem; padding: 5px; line-height: 1.2;">
                CPR is a life-saving procedure performed on someone who has stopped breathing. Place your hands on the
                center of their chest and press down firmly and quickly at a rate of 100-120 compressions per minute.
                <ul>
                  <li style="font-size: 0.75rem; padding: 2px 0;"><b>Why It’s Important:</b> CPR helps maintain blood circulation and oxygen flow to vital organs until
                    professional medical help arrives.</li>
                </ul>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-card-content>
      </ion-card>

      <ion-card class="card">
        <ion-card-content>
          <img src="../../assets/images/best-practices/BEST-PRACTICE/11.png" alt="washhand" />
          <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header">
                <ion-label>Treat Burns Safely</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content" style="font-size: 0.8rem; padding: 5px; line-height: 1.2;">
               In case of a burn, cool the injured area with running cold water for at least 10 minutes. Avoid using ice, as it can damage the tissue further. Cover the burn with a clean, dry dressing.
                <ul>
                  <li style="font-size: 0.75rem; padding: 2px 0;"><b>Why It’s Important:</b> Cooling the burn area quickly minimizes tissue damage and provides initial relief while preventing complications.</li>
                </ul>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-card-content>
      </ion-card>

      <ion-card class="card">
        <ion-card-content>
          <img src="../../assets/images/best-practices/BEST-PRACTICE/12.png" alt="washhand" />
          <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header">
                <ion-label>Handle Choking Situations Correctly</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content" style="font-size: 0.8rem; padding: 5px; line-height: 1.2;">
                If someone is choking, perform the Heimlich Maneuver. Stand behind the person, place your hands on their abdomen, and thrust inward and upward. For infants, use back blows and chest thrusts to clear the airway.
                <ul>
                  <li style="font-size: 0.75rem; padding: 2px 0;"><b>Why It’s Important:</b> Prompt intervention can remove the obstruction, restore airflow, and save lives.</li>
                </ul>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-card-content>
      </ion-card>



      <ion-card class="card">
        <ion-card-content>
          <img src="../../assets/images/best-practices/BEST-PRACTICE/13.png" alt="washhand" />
          <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header">
                <ion-label>Maintain a Clean Emergency First Aid Kit</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content" style="font-size: 0.8rem; padding: 5px; line-height: 1.2;">
                Keep a well-stocked first aid kit accessible at homes, workplaces, and vehicles. Include essential items like bandages, antiseptics, gloves, CPR face shields, and painkillers.
                <ul>
                  <li style="font-size: 0.75rem; padding: 2px 0;"><b>Why It’s Important:</b>  A well-prepared first aid kit ensures that you have the necessary tools to respond to emergencies promptly and effectively, even without professional medical help.</li>
                </ul>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>

