<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Back Button -->
      <ion-back-button defaultHref="/home" color="danger">Back</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- HEADER PROFILE SECTION -->
  <div class="profile-header"></div>

  <div class="socials">
    <h2>Boost Our Socials</h2>
    <div class="social-cards">
      <a href="https://www.facebook.com" target="_blank" class="social-card">
        <ion-icon name="logo-facebook"></ion-icon>
      </a>
      <a href="https://www.twitter.com" target="_blank" class="social-card">
        <ion-icon name="logo-twitter"></ion-icon>
      </a>
      <a href="https://www.instagram.com" target="_blank" class="social-card">
        <ion-icon name="logo-instagram"></ion-icon>
      </a>
      <a href="https://www.linkedin.com" target="_blank" class="social-card">
        <ion-icon name="logo-linkedin"></ion-icon>
      </a>
    </div>
  </div>

  <!-- 2 Columns in 1 Row Using Ionic Grid -->
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <!-- Left Column Content -->
        <div class="column-content">
          <h6>DONATE US</h6>
          <p>
            Your contributions make a difference. We appreciate your help in
            supporting our cause!
          </p>
          <div class="wallet-account">
            <ion-list>
              <ion-item>
                <a href="https://www.gcash.com/" target="_blank" style="
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    width: 100%;
                  ">
                  <ion-avatar slot="start">
                    <img src="../../assets/images/help-us/accounts/google (2).png" alt="GCash Icon" />
                  </ion-avatar>
                  <ion-label>GCash</ion-label>
                </a>
              </ion-item>
              <ion-item>
                <a href="https://www.paypal.com/" target="_blank" style="
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    width: 100%;
                  ">
                  <ion-avatar slot="start">
                    <img src="../../assets/images/help-us/accounts/paypal.png" alt="PayPal Icon" />
                  </ion-avatar>
                  <ion-label>PayPal</ion-label>
                </a>
              </ion-item>
              <ion-item>
                <a href="https://www.paymaya.com/" target="_blank" style="
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    width: 100%;
                  ">
                  <ion-avatar slot="start">
                    <img class="paymaya" src="../../assets/images/help-us/accounts/paymaya4.png" alt="PayMaya Icon" />
                  </ion-avatar>
                  <ion-label>PayMaya</ion-label>
                </a>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </ion-col>
      <ion-col size="6">
        <!-- Right Column Content -->
        <div class="column-content">
          <div class="achievement">
            <div class="achievement-profile">
              <h6>ABOUT US</h6>
            </div>
            <div class="description">
              <p>
                Sagip 24/7 is a community-driven initiative offering continuous
                support and relief during crises. You can help by donating
                resources, volunteering, or raising awareness to make a positive
                impact on those in need.
              </p>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>