/* INTRO SECTION */
.intro-section {
  position: relative;
  width: 100%;
  height: 180px;
  color: rgb(0, 0, 0);
  overflow: hidden;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Title styling */
.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  text-align: left;
  position: relative;
}

/* Red underline (30% of the title width) */
.section-title::after {
  content: '';
  display: block;
  width: 30%;
  height: 3px;
  background-color: red;
  position: absolute;
  left: 0;
  bottom: -5px;
}

/* Intro text styling */
.intro-text {
  font-size: 1.0rem;
  font-weight: normal;
  line-height: 1.5;
  max-width: 90%;
  text-align: left;
  margin: 0;
}