<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="danger">
        Close
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Time Tracking</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- HEADER SECTION -->
  <section class="intro-section">
    <h1 class="section-title">Time Tracking</h1>
    <p class="intro-text">
      Track critical time intervals during emergencies to ensure timely medical intervention and proper response.
    </p>
  </section>

</ion-content>